*{
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #f2f2f2;
}

/* Header */

header{
    background-color: #f2f2f2;
    height: auto;
    display: grid;
    grid-template-columns: 40% 1fr 1fr 1fr 1fr 5% 5% 2%;
    align-items: center;
    position: relative;
}

header img{
    width: 300px;
    height: 100px;
    object-fit: cover;
    grid-column: 1;
    padding-left: 0px;
}

button#search {
    background-color: transparent;
    font-size: 30px;
    border: none;
    cursor: pointer;
    grid-column: 6;
    justify-self: end;
}

/* navigation */

header nav{
    display: none;
}

header nav ul{
    list-style: none;
    padding: 0;
}

header nav.show{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #0764b0;
    z-index: 10;
    padding: 0;
}

header nav.show li a{
    display: block;
    padding: 6px 16px;
    line-height: 1.2;
    padding: 0.5em 0.5em;
}

nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

nav li a:hover{
    cursor: pointer;
    color: #0764b0;
    background-color: #ffffff;
}

button#bars{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    grid-column: 7;
    justify-self: start;
}

/* Hero billede */

.hero img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.hero h1{
    font-size: 30px;
    padding-left: 10px;
    font-weight: 400;
    line-height: 1;
    padding-top: 15px;
}

.highlightet{
    font-size: 40px;
    font-weight: 800;
}

/* Hovedindhold */

.menubokse {
    margin-top: 2em;
    margin-bottom: 2em;
    color: #000000;
    display: grid;
    grid-template-columns: repeat(3), 1fr;
    gap: 2rem;
    align-items: stretch;
}

.online-sikkerhed, .digital-sikkerhed, .kritisk-taenkning {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1em;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1em;
    text-decoration: none;
    color: #000000;
}

.os-billede {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
}

.menubokse h2, .p{
    color: #000000;
    margin-bottom: 0.5em;
    background-color: #ffffff;
}

.menubokse button {
    background-color: #0764B0;
    color: #ffffff;
    border: 0.1px solid #000000;
    padding: 0.6em 1em;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.menubokse button:hover {
    background-color: #054b80;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.social-box{
    grid-column: 1;
    object-fit: center;
    margin-left: 10px;
    font-size: 15px;
    white-space: nowrap;
}

footer p:first-child{
    padding-bottom: 10px;
    padding-left: 8px;
    font-weight: 700;
}

footer p:last-child{
    grid-column: 1 / 4;
    justify-self: center;
    grid-row: 3;
}

footer button{
    grid-column: 3 / 4;
    justify-self: center;
    background-color: #ABFCFB;
    color: #000000;
    border: 0.5px solid #000000;
    padding: 0.6em 1em;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

a{
    text-decoration: none;
    color: #000000;
}


/* FORSIDE - RESPONSIV TIL DESKTOP */
@media only screen and (min-width: 769px){

    /*Header*/
#bars{
    display: none;
}

header {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2% 1fr 80% 1fr 2%;
}

header nav{
    display: block;
    position: static;
    background: none;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li{
    list-style: none;
}

header nav li a {
    white-space: nowrap;
    font-size: 22px;
    color: black;
    padding: 10px;
    display: block;
}

/* Hovedindhold */
.menupunkter{
    grid-column: 2 / span 5;
    max-width: 100%;
}

button#search{
    grid-column: 4;
    font-size: 50px;
}

.hero img{
   max-width: auto;
    max-height: 700px;
    object-fit: cover;
    border-top: 2px solid #0764B0;
}

.hero h1{
    padding-left: 2em;
}

.menubokse{
    display: flex;
    justify-content: center; 
    margin-top: 3em; 
}

.menubokse p{
    width: 400px;
}

.os-billede{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

/* Footer */

footer{
    padding: 10em 0;
}

.social-box{
    font-size: 20px;
    padding-left: 5em;
    text-align: center;
}

footer p:last-child{
    font-size: 20px;
}

footer button{
    padding: 1.5em;
    font-size: 20px;
    font-weight: 700;
    margin-right: 6em;
}

}










/*-------------------------------ONLINE SIKKERHED SIDEN-------------------------------*/

img {
    width: 100%;
    height: auto;
}

.overskrift-os {
    font-size: 25px;
    line-height: 2em;
    padding-left: 0.6em;
    font-weight: 700;
}

.underskrift-os {
    font-size: 18px;
    padding-left: 1.5em;
    max-width: 90%;
    margin-bottom: 2em;
}

/* DROPDOWN BOKSE */

.dropdowntekst1, .dropdowntekst2{
    width: 80%;

}

.dpbox1, .dpbox2, .dpbox3, .dpbox4, .dpbox5{
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border: 0.5px solid #000000;
   line-height: 2em;
   border-radius: 15px;
   padding: 0.5em 1em;
   margin: 0.5em 2em;
}

.dropdowntekst p{
    font-size: 15px;
}

summary {
    font-size: 18px;
    font-weight: 700;
    padding-left: 0.5em;
}

/* DROPDOWN BOKSE SLUT */

.husk{
    font-size: 22px;
    padding-bottom: 0.2em;
    padding-top: 2em;
}

.huskunderskrift{
    font-size: 18px;
    padding-bottom: 2em;
    max-width: 90%;
}

.underdel{
    padding-left: 1.5em;
}

/* ONLINE SIKKERHED - RESPONSIV TIL DESKTOP */
@media only screen and (min-width: 769px){

    .topbillede-os {
        max-width: auto;
        max-height: 700px;
        object-fit: cover;
        border-top: 2px solid #0764B0;
    }

    .overskrift-os{
        font-size: 50px;
    }

    .underskrift-os{
        font-size: 22px;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    
    .dpboxe-desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2em;
    }

    .dpbox1, .dpbox2, .dpbox3{
        grid-area: 1 / 1;
    }

    .dpbox4, .dpbox5, .underdel{
        grid-column: 2 / 1;
    }

    .dropdowntekst1 {
        margin-left: 150px;
    }

    .underdel {
        margin-top: 3.5em;
        padding-left: 35px;
        border-left: 10px dotted #0764B0;

    }

    .husk{
        padding-top: 1em;
    }

}




/*----------------------------------KONTAKT OS SIDEN---------------------------------------*/

.h1ko{
    font-size: 25px;
    line-height: 2em;
    padding-left: 0.6em;
    font-weight: 700; 
}

.pko {
    font-size: 18px;
    padding-left: 1.5em;
    max-width: 90%;
}

.ringtilos, .skrivtilos{
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 0.5px solid #000000;
    line-height: 2em;
    border-radius: 15px;
    padding: 0.5em 1em;
    margin: 0.5em 2em;
    width: 50%;
    cursor: pointer;
}

.ringskriv{
    margin-top: 3em;
}

.telnr, .tomail {
    font-weight: 600;
}

/*---- KONTAKTSFORMULAR ----*/

.kontaktform {
  border-radius: 15px;
  background-color: #ffffff;
  padding: 1.3em;
  border: 1px solid #000000;
  width: 50%;
  min-width: 450px;
  margin: 0 auto; /*Centrerer elementet på siden*/
  margin-top: 6em;
  margin-bottom: 3em;
}

input[type=text], input[type=email], input[type=tel], select, textarea{
	width: 100%;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

select, input[type=checkbox], input[type=radio], input[type=subit]{
	cursor: pointer;
}

fieldset{
	border-style: hidden; /*Hidden hvis den skal forsvinde*/
	margin-bottom: 0.8em;
}

input[type=checkbox]{
	margin: 0.8em 0;
}

.us-ktf{
    margin-bottom: 1.5em;
}

input[type=submit]{
	background-color: #ABFCFB;
	color: rgb(0, 0, 0);
	padding: 0.8em 1.5em;
	border: 1px solid #000000;
	border-radius: 15px;
	width: 8em;
	font-size: 18px;
    cursor: pointer;
    margin-top: 1em;
}

input[type=submit]:hover{
	background-color: #0764B0;
    color: #ffffff;
}

::placeholder{
	color: #333;
}

legend {
    margin-bottom: 0.5em;
}

label {
    margin-right: 0.5em;
}

.visually-hidden{ /*WCAG defineret class som fjerner element fra skærm, men som stadig kan læses af skærmlæseren*/
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* KONTAKT - RESPONSIV TIL DESKTOP*/

@media only screen and (min-width: 769px){

.topko-prim{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #0764B0;
    }

.ringtilos, .skrivtilos{
    width: 500px;
    height: auto;
    margin-right: 100px;
    }

.top-ko{
    width: auto;
    min-width: 500px;
    height: auto;
    margin-left: 100px;
    }

.h1ko {
    margin-left: 0.4em;
    margin-top: 2em;
}

.ringskrivsec{
    margin-top: 4em;
}

}



/*-------------------------- UNDER UDVIKLINGS SIDER --------------------------*/

.underudvikling {
    object-fit: cover;
    border-top: 2px solid #0764B0;
    border-bottom: 2px solid #0764B0;
}
